/.gradle/
/.idea/
/.settings/
/build/
/gepard-core/build/
/gepard-gherkin-jbehave/build/
/gepard-gherkin-cucumber/build/
/gepard-examples/build/
/gepard-examples/gepard-run.log
/gepard-android/build/
/gepard-selenium/build/
/gepard-rest/build/
/*.iml
/*/*.iml
/gepard.ipr
/gepard.iws
.checkstyle
.classpath
.project
.settings/
bin/
storyDurations.props
